<template>
  <div class="full-width q-px-lg">
    <q-input

      v-model="sharedValue"
    />
    <div class="q-pt-lg">
      <h5>So, this is how we should have implemented the store in lodestar, using shared memory and the Observer/Notify pattern.</h5>
      <ol>
        <li>Store all data in the main app process</li>
        <li>This shouldn't be directly changed by the render process - we provide mutators, which act as observers</li>
        <li>When the global data (in the main process) is changed, it informs all render threads about it</li>
        <li>Components within the render threads can subscribe to these changes (use some smart logic so they only get changes they care about)</li>
        <li>We can even write wrappers for vuex</li>
        <li>The same is true for the map rendering component - it will subscribe to the objects themselves, so we wouldn't have to worry about "has this object updated in vuex" - we'd just know "hey, hole with id 123456 has been changed, rerender it" or "the list of holes has been changed, hole 234567 has been added"</li>
        <li><b>Voila</b> we can have multiple windows (e.g., histogram in a seperate window), all sharing the same loaded blocks/settings/what have you</li>
      </ol>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Todo, Meta } from './models';

const { getGlobal } = require('electron').remote;
const { ipcRenderer } = require('electron');

const shared = getGlobal('sharedObject');

@Component
export default class ClassComponent extends Vue {
  innerVal = '';

  set sharedValue(newVal) {
    this.innerVal = newVal;
    shared.innerValMutator(newVal);
  }

  get sharedValue() {
    return this.innerVal;
  }

  created() {
    ipcRenderer.on('sharedUpdate', (event, arg) => {
      this.innerVal = arg;
    });
    this.innerVal = shared.innerVal;
  }
}
</script>
